.donation-section {
    padding: 100px 0;
    background: #FFF8F2;
    text-align: center;
}

.donation-text {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
    color: #555;
}

.donation-card {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.1);
}

.qr-image {
    width: 250px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.donation-card h4 {
    color: #E67E22;
}

.donation-card h5 {
    margin: 15px 0;
}

.donate-button {
    background: #E67E22;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: bold;
}
