.services {
    padding: 100px 0;
    background: #FFF8F2;
}

.service-card {
    background: white;
    border-radius: 20px;
    padding: 35px;
    text-align: center;
    transition: .4s;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

    .service-card:hover {
        transform: translateY(-10px);
    }

.service-icon {
    font-size: 55px;
    color: #E67E22;
    margin-bottom: 20px;
}

.service-card h4 {
    margin-bottom: 15px;
    font-weight: 700;
}

.service-card p {
    color: #666;
}
